{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View Most Player Song's</h3>
    <form action="" method="post">
    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 600px;">
       
        {% for row in data['res'] %}
        <tr>
        
            <td>Most played Music Till Now is <span style="margin: 2px 5px ;color: red;">{{ row['name'] }}</span></td>

           

        </tr>
        {% endfor %}
    </table>
</form>
</center>

{% include 'footer.html' %}