{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View Users</h3>
    <form action="" method="post">
    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Email</th>
      

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['fname'] }}{{ row['lname'] }}</td>
            <td>{{ row['place'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['email'] }}</td>

           

        </tr>
        {% endfor %}
    </table>
</form>
</center>

{% include 'footer.html' %}